TELEGRAM_BOT_TOKEN="change-me"
TELEGRAM_CHAT_ID="change-me"
DUCKDNS_DOMAIN="vpn.example.com"
DUCKDNS_TOKEN="change-me"
WG_ENDPOINT="vpn.example.com:51820"
WG_INTERFACE="wg0"
WG_SERVER_IP="<VPN_SERVER_IP>"
WG_SUBNET="10.99.0.0/24"
DASHBOARD_BIND="<VPN_SERVER_IP>"
DASHBOARD_PORT="8888"
