[Unit]
Description=Golden VPN Agent 2026 LTS
After=network-online.target wg-quick@wg0.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/wg-golden/agent.py
WorkingDirectory=/opt/wg-golden
EnvironmentFile=/etc/wg-golden.env
User=root
Group=root
Restart=always
RestartSec=5
UMask=0077

[Install]
WantedBy=multi-user.target
